.wy-side-nav-search {
    display: block;
    width: 300px;
    padding: .809em;
    margin-bottom: .809em;
    z-index: 200;
    /* background-color: #2980b9; */
    background-color: rgb(112,26,191);
    text-align: center;
    /* color: #fcfcfc; */
    color: rgb(112,26,191)
}
